@media all {

@media all and (max-width: 1024px){
    #contenu
    {
        width: auto;
        text-align: left;
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
    }    
    #contenu:hover
    {
        border-bottom: 0;   
    } 
}

    html {
        font-family: 'Amatic SC', cursive;
    }

/* BLOC TITRE */

    #bloc1 {
        display: block;
        height: 300px;
        ;
        font-family: 'Amatic SC', cursive;
        text-align: center;
        justify-items: center;
        background-image: url(assets/entete.jpg); /*TODO: fix responsivity */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        padding: 20px;
        margin-bottom: 0px;
    }

/* BLOC DE PRESENTATION */

    #presentation {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 5px;
        background-color: rgba(255, 228, 196, 0.452);
    }

    .profil {
        text-align: center;
        border-radius: 60%;
        border-style: none;
        width: 100px;
        height: 100px;
    }

    .propos {
        display: block;
    }

    .accroche {
        font-size: 40px;
        font-weight: bold;
    }

/* BLOC CONTENU */

#contenu {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: end;
        position: relative;
        background-color: black;
        max-width: 160%;
        padding: 40px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #contenu section {
        min-height: 700px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

/* SOUS-BLOC EXPERIENCES */

.Expérience {
        display: block;
        text-align: center;
        background-color: rgb(255, 142, 127);
        width: 50%;
    }

    .sous {
        list-style-type: none;
        padding-inline-start: 0px;
        font-size: 20px;
        font-weight: bold;
        color: rgb(128, 125, 125);
        display: none;
        overflow-y: hidden;
        transition: 3s;
    }

    .deroulant:hover .sous {
        display: block;
    }

    .sous1 {
        list-style-type: none;
        padding-inline-start: 0px;
        font-size: 20px;
        font-weight: bold;
        color: rgb(128, 125, 125);
        display: none;
        overflow-y: hidden;
        transition: 3s;
    }

    .deroulant1:hover .sous1 {
        display: block;
    }

    .sous2 {
        list-style-type: none;
        padding-inline-start: 0px;
        font-size: 20px;
        font-weight: bold;
        color: rgb(128, 125, 125);
        display: none;
        overflow-y: hidden;
        transition: 3s;
    }

    .deroulant2:hover .sous2 {
        display: block;
    }

    .sous3 {
        list-style-type: none;
        padding-inline-start: 0px;
        font-size: 20px;
        font-weight: bold;
        color: rgb(128, 125, 125);
        display: none;
        overflow-y: hidden;
        transition: 3s;
    }

    .deroulant3:hover .sous3 {
        display: block;
    }

    .Formation {
        display: block;
        text-align: center;
        background-color: rgb(204, 204, 195);
        width: 50%;
    }

/* SOUS-BLOC FORMATION */
    .Formation p {
        font-size: 25px;
        font-weight: bold;
        color: rgb(114, 108, 108);       
    }

/* SOUS-BLOC LOGICIEL/PROGRAMME */

    .lopro {
        display: block;
        text-align: center;
        background-color: rgb(196, 190, 113);
        width: 50%;
    }
    #prog>li {
        list-style-type: square;
        padding-inline-start: 0px;
        font-size: 25px;
        font-weight: bold;
        color: rgb(92, 88, 88);
        margin: .5em 0;
        line-height: 1.15;
    }

/* SOUS-BLOC COMPETENCES */

    .Compétences {
        display: block;
        text-align: center;
        background-color: rgb(60, 145, 117);
        width: 50%;
    }

    .tech {
        list-style-type: none;
        font-weight: bold;
        color: rgb(207, 207, 207);
        padding-inline-start: 0px;
        font-size: 20px;
    }

    .rel {
        font-weight: bold;
        color: rgb(207, 207, 207);
        padding-inline-start: 0px;
        font-size: 20px;
    }

    .per {
        font-weight: bold;
        color: rgb(207, 207, 207);
        padding-inline-start: 0px;
        font-size: 20px;
    }

/* BLOC DE CONTACT   */
    /* Common rule for vertical center */
    .centerV {
        margin-top: auto;
        margin-bottom: auto;
    }

    #bloc2 {
        display: block;
        text-align: center;
        padding: 20px;
        background-color: brown;
    }

    .envoi {
        border-radius: 60%;
        border-style: none;
        transition: transform 5s;
    }

    .envoi:hover {

        transform: rotate(360deg);
    }

    nav {
        display: flex;
        width: auto;
        text-align: center;
        flex-direction: column;
    }

    .adresse {
        display: flex;
        align-content: center;
        justify-content: center;
        font-size: 25px;
        color: rgb(0, 0, 0);
        font-weight: bold;
    }

    #place {
        float: left;
        width: 40px;
        height: 40px;
        padding: 20px;
        margin-top: 0px;
    }

    .permis {
        display: flex;
        align-content: center;
        justify-content: center;
        font-size: 25px;
        color: rgb(0, 0, 0);
        font-weight: bold;
    }

    #car {
        float: left;
        width: 40px;
        height: 40px;
        padding: 20px;
        margin-top: 0px;
    }

    .mail {
        display: flex;
        align-content: center;
        justify-content: center;
        font-size: 25px;
        color: rgb(0, 0, 0);
        font-weight: bold;
    }

    #arobase {
        float: left;
        width: 40px;
        height: 40px;
        padding: 20px;
        margin-top: 0px;
    }

    .phone {
        display: flex;
        align-content: center;
        justify-content: center;
        font-size: 25px;
        color: rgb(0, 0, 0);
        font-weight: bold;
    }

    #tel {
        float: left;
        width: 40px;
        height: 40px;
        padding: 20px;
        margin-top: 0px;
    }

/* BAS DE PAGE */

    #reseau {
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }

    .fb {
        display: block;
        float: left;
        width: 40px;
        height: 40px;
        padding-right: 20px;
    }

    .lk {
        display: block;
        width: 40px;
        height: 40px;
        padding-right: 20px;
    }

    .gh {
        display: block;
        width: 40px;
        height: 40px;
    }

    .retour {
        display: block;
        align-content: flex-end;
        justify-content: end;
    }

    #return {
        float: right;
        width: 40px;
        height: 40px;
        padding-bottom: 20px;
    }

/* TOUS LES TITRES */

    h1 {
        font-size: 70px;
        padding-top: 20px;
        margin-bottom: 0px;
    }

    h1:hover {
        text-decoration: underline;
        color: rgba(207, 23, 115, 0.822);
        transition: 2s;
    }

    h2 {
        font-size: 60px;
        margin-top: 30px;
    }

    h2:hover {
        letter-spacing: 1ch;
        text-decoration: underline;
        color: rgba(22, 114, 156, 0.822);
        transition: 2s;
    }

    h3 {
        font-weight: bold;
        text-shadow: 1px 1px 1px rgb(97, 97, 97);
        font-size: 40px;
    }

    h4 {
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 0px;
        text-decoration: underline rgb(8, 8, 8);
    }

    h6 {
        font-size: 25px;
        margin-bottom: 0px;
        margin-top: 20px;
    }
}